@import "../../app.scss";

.hero {
	height: calc(100vh - 100px);
	overflow: hidden;
	background: linear-gradient(180deg, #0c0c1d, #111132);
	position: relative;
	// max-width: 1366px;
	.wrapper {
		max-width: 1366px;
		height: 100%;
		margin: auto;
		@include tablet {
			height: 88%;
		}
	}
	.textContainer {
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 30px;
		// margin-top: -60px;
		padding: 20px;

		@include mobile {
			height: 70%;
			width: 100%;
			// gap: 25px;
			align-items: center;
			text-align: center;
			margin-top: 0px;
		}
		@include tablet {
			width: 65%;
			justify-content: top;
			margin-top: 20px;
		}

		h2 {
			font-size: 24px;
			color: rgb(192, 165, 221);
			letter-spacing: 1px;
			width: 90%;
			@include mobile {
				// height: 30%;
				width: 75%;

				align-items: center;
				text-align: center;
				margin-top: 0px;
				font-size: 18px;
				letter-spacing: 0;

				@include mobile {
					font-size: 16px;
				}
			}
		}
		h1 {
			@include header;			
		}
		.buttons {
			position: relative;
			z-index: 99;
			@include mobile {
				display: flex;
				gap:10px;

			}
			button {
				@include button-style(transparent, white, white, white);		
				margin-right: 20px;	
				@include mobile {
					margin-right: 0;	

				}		
				&:hover {
					color: black;
				}
			}

		}
	}

	.imageContainer {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;

	

		@include mobile {
			height: 45%;
			width: 100%;
			top: unset;
			bottom: -20px;
			text-align: center;
			// display: flex;
			// justify-content: center;

			img {
				width: 50%;
				// height: 100%;
				object-fit: cover;
				@include mobile {
					// right: -%;
					width: 80%;
				}
			}
		}
		@include tablet {
			// right: -%;
			right: -25%;
			transform: scale(60%);
		}
		@include desktop {
			right: -15%;
		}
	}
	.slidingTextContainer {
		position: absolute;
		font-size: 50vh;
		bottom: -120px;
		white-space: nowrap;
		color: #ffffff09;
		width: 40vw;
		font-weight: bold;
		// background-color: red;
	}
}
