@import "../../app.scss";

section {
	height: 100vh;
}

.portfolio {
	position: relative;
	height: 100%;
	margin: 0 auto;
	.sectionInfo {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		p {
			border: 1px solid #d3d3d3;
			width: 35px;
			height: 35px;
		}
		hr {
			width: 300px;
			border: none;
			border-top: 0.5px solid gray;
		}
	}

	.projectsHeader {
		position: sticky;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 50px;
		max-width: 1366px;
		margin: 0 auto;
		z-index: 100;
		padding-bottom: 15px;
		@include mobile {
			padding-top: 20px;
		}
		@media (min-width: 900px) {
			flex-direction: row;
			justify-content: space-between;
		}
		.headerBox {
			display: flex;
			flex-direction: row;
			justify-content: center;
	
			height: auto;
			width: 100%;
			@include mobile {
				justify-content: flex-end;
			}
			@include tablet {
				justify-content: center;
			}
			@include tv {
				gap: 1px;

			}
			@media (min-width: 1482px) {
				justify-content: flex-start;
			}
			h1 {
				padding:10px;

				@include header;
				@include mobile {
					font-size: 36px;
					text-align: center;
					width: 100%;
				}
				@include tablet {
					font-size: 48px;
				}
			}
			svg {
				margin-left: auto;
				margin-right: auto;
			}
		}

		.projectsFilter {
			flex-basis: 50%;
			display: flex;
			align-self: center;
			gap: 3px;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			color: #e0e0e0;

			* {
				border: 2px solid white;
				background: transparent;
				padding: 0.4em 1.2em;
				color: E0E0E0;
				font-size: 22px;
				text-transform: uppercase;
				cursor: pointer;
				&:hover,
				&:focus {
					color: #ffd166;
					border: ffd166;
				}
				&.active {
					color: #ffd166;
					border: ffd166;
				}
			}
		}
	}
	.image-box {
		grid-row-start: 2;
	}

	.container {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: 20vh 1fr;
		overflow: hidden;
		@include mobile {
			grid-template-rows: 15vh 1fr;
		}
		@include tablet {
			grid-template-rows: 13vh 1fr;
		}

		.wrapper {
			grid-row-start: 2;
			max-width: 1366px;
			height: 100%;
			margin: auto;

			display: flex;
    flex-direction: column;
    gap: 20px;
		@include mobile {
			gap:5px;
		}
			.languages {
				margin-bottom: 60px;
				display: flex;
				align-items: center;
				color: black;
				font-size: 20px;
				text-transform: uppercase;
				gap: 5px;
				@include tablet2 {
					flex-wrap: wrap;
					margin-bottom: 0px;
					justify-content: center;
					gap: 5px;
				}
				span {
					padding: 0.2em 0.8em;
					background-color: #d9cab7;
					position: relative;
					padding-inline: 2em;
					@include mobile {
						font-size: 14px;
						padding-inline: 4px;
					}
					@include tablet {
						font-size: 18px;
					}
					&::after {
						content: "";
						padding-inline: 1em;
						position: absolute;
						top: 0px;
						bottom: 0px;
						border-width: 150%;
						height: 100%;
						z-index: 2;
					}
					&:not(:last-of-type)::after {
						border-right: 4px solid transparent;
					}
					&:first-of-type {
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
						@include tablet2 {
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
						}
					}
					&:last-of-type {
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;
						@include tablet2 {
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
						}
					}
				}
			}
			.projectBox {
				padding-inline: 40px;
				display: flex;
				justify-content: center;
				gap: 50px;

				height: calc(100% + 100px - 15vh);
				@include tablet2 {
					flex-direction: column;
					gap: 15px;
					padding-inline: 20px;
				}

				.imageContainer {
					flex: 2;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					position: relative;
					@include tablet2 {
						order: 1;
					}
					// next image; prev image; size;
					.buttons {
						display: flex;
						justify-content: center;
						gap: 20px;
						background-color: transparent;
						margin-bottom: 10px;
						@include mobile {
							margin-bottom: 0;
						}
						@include tablet {
							margin-bottom: 10px;
						}
						button {
							// padding-bottom: 1.5em;
							aspect-ratio: 1/1;
							width: 60px;
							border: none;
							color: #625781;
							cursor: pointer;
							background-color: transparent;

							@include tablet2 {
								width: 40px;
							}
							&:hover {
								color: #fbebdc;
							}
							&:disabled {
								opacity: 0.5;
								cursor: not-allowed;
							}
						}
						.vertical-line {
							border-right: 4px solid #625781;
							align-self: center;
							height: 40px;
							margin-right: 10px;
							@include tablet2 {
								width: 20px;
								height: 30px;
							}
						}
					}
					.image {
						max-height: 500px;
						width: auto;
						overflow: hidden;
						border-radius: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex: 1;
						object-fit: contain; 
						@include tablet {
							max-height: 350px;
						}
						img {
							height: 100%;
							@include mobile {
								object-fit: cover;
								border-radius: 2px;
								width: 90vw;
								max-height: 33vh;
							}
							@include tablet {
								height: 100%;
								object-fit: cover;
								max-width: 90vw;
							}
						}
					}

					&::before {
						content: "";
						width: 110px;
						border-bottom: 4px solid #625781;
						position: absolute;
						bottom: -3px;
						left: -17%;
						@include tablet2 {
							display: none;
						}
					}
				}

				.textContainer {
					flex: 1;
					display: grid;
					grid-template-rows: 40px 1fr 70px;
					gap: 30px;
			
					@include tablet2 {
						transform: none !important;
						gap: 12px;
					}
					position: relative;

					@include tablet2 {
						order: 2;
						flex: 1;
					}

					.textHeader {
						display: flex;
						justify-content: space-between;

						padding-bottom: 8px;
						flex-direction: column;

						border-bottom: 4px solid #6f627e;
						border-width: 120%;
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;
						.title {
							display: flex;
							justify-content: space-between;
							align-items: center;
							h4 {
								font-size: 26px;
								letter-spacing: 2px;
								padding-left: 2px;
								text-transform: uppercase;
								@include tablet2 {
									font-size: 20px;
								}
							}
							span {
								cursor: pointer;
								&:hover svg {
									color: #fbebdc !important;
								}
							}
						}
					}

					p {
						color: #e0dfdb;
						font-size: 20px;
						line-height: normal;
						padding: 15px;
						max-height: 350px;
						overflow-y: scroll;
						@include mobile {
							font-size: 14px;
							max-height: 85px;
							padding: 0;
						}
						@include tablet {
							font-size: 15px;
							max-height: 100px;
							padding: 0;
						}
					}
					button {
						@include button-style(#b7aed9, black, #645b81, black);
						margin-top: auto;
						padding: 0.8em 1.2em;
						display: block;
						font-weight: normal;
						@include tablet2 {
							margin: 0px auto;
						}

						&:hover {
							background-color: darken(#b7aed9, 10%);
						}
					}
				}
			}
		}
	}
}
