.portfolio {
	position: relative;
	height: 100%;
	margin: 0 auto;
	.sectionInfo {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		p {
			border: 1px solid #d3d3d3;
			width: 35px;
			height: 35px;
		}
		hr {
			width: 300px;
			border: none;
			border-top: 0.5px solid gray;
		}
	}

	.projectsHeader {
		position: sticky;
		top: 0;
		left: 0;
		padding-top: 50px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 50px;
		max-width: 1366px;
		margin: 0 auto;
		// background-color: rebeccapurple;
		// background-color: #0c0c1d;
		// background-color: rebeccapurple;
		z-index: 100;
		padding-bottom: 15px;
		@media (min-width: 900px) {
			flex-direction: row;
			// justify-content: space-evenly;
			justify-content: space-between;
		}
		.headerBox {
			// border: 1px solid #d3d3d3;
			// aspect-ratio: 2/1;
			// background-color: #0c0c1f;
			padding: 20px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			// width: 350px;
			height: auto;
			h1 {
				text-align: start;
				color: #d3d3d3;
				font-size: 67px;
				// width: 200%;
			}
			svg {
				margin-left: auto;
				margin-right: auto;
			}
		}

		// .progressBar {
		// 	height: 10px;
		// 	background-color: white;
		// }
		.projectsFilter {
			flex-basis: 50%;
			display: flex;
			align-self: center;
			gap: 3px;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			color: #e0e0e0;
			// @media (min-width: 900px) {
			// 	flex-direction: row;

			// }

			* {
				// border: 2px solid black;
				border: 2px solid white;
				// background: #20203e;
				background: transparent;
				padding: 0.4em 1.2em;
				color: E0E0E0;
				font-size: 22px;
				text-transform: uppercase;
				cursor: pointer;
				&:hover,
				&:focus {
					// color: #ffd166;
					// background-color: #383757;
					color: #ffd166;
					border: ffd166;
				}
				&.active {
					color: #ffd166;
					border: ffd166;
					// background-color: #383757;
				}
			}
		}
	}
	.image-box {
		grid-row-start: 2;
	}

	.container {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: 25vh 1fr;
		// grid-template-rows: 25vh 5vh 1fr;
		overflow: hidden;
		// *{border:0.34px solid white}

		.wrapper {
			grid-row-start: 2;
			max-width: 1366px;
			height: 100%;
			margin: auto;
			padding-bottom: 100px;
	
			// padding-top: 50px;

			.languages {
				margin-inline: 40px;
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				color: black;
				font-size: 24px;
				text-transform: uppercase;
				span {
					padding: 10px 20px;
					background-color: #f9ecdc;
					position: relative;
					padding-inline: 40px;
					&::after {
						content: "";
						padding-inline: 20px;
						position: absolute;
						top: 0px;
						bottom: 0px;
						border-width: 150%;
						height: 100%;
						z-index: 2;
					}
					&:not(:last-of-type)::after {
						border-right: 4px solid black;
					}
					&:first-of-type {
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}
					&:last-of-type {
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;
					}
				}
			}
			.projectBox {
				padding-inline: 40px;
				display: flex;
				justify-content: center;
				gap: 50px;
				// height: calc(70vh - 40px);
				// max-height: 75vh;
				// overflow-y: scroll;

				.imageContainer {
					flex: 2;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					position: relative;
					.buttons {
						display: flex;
						justify-content: center;
						gap: 20px;
						background-color: transparent;
						// margin-bottom: 20px;

						button {
							padding-bottom: 1.5em;
							
							aspect-ratio: 1/1;
							width: 60px;
							border: none;
							// border: 2px solid white;
							color: #625781;
							background-color: transparent;
							&.active {
								color: #fbebdc;
							}
						}
						.vertical-line {
							border-right: 4px solid #625781;
							align-self: center;
							height: 40px;
							margin-right: 10px; 
							transform: translateY(-10px);
						}
					}
					.image {
						max-height: 500px; // background-color: red;
						width: 100%; // height: 100%;
						overflow: hidden;
						border-radius: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						flex: 1;
						img {
							// object-fit: cover;
							object-fit: contain; // width: 100%;
							width: 100%;
							height: 100%;
							max-height: 450px;

							// padding-bottom: 20px;
						}
					}
			
					// border-bottom: 4px solid #625781;
					&::before {
						content: "";
						width: 110px;
						border-bottom: 4px solid #625781;
						position: absolute;
						bottom: -3px;
						left: -17%;
					}
				}

				.textContainer {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					justify-content: flex-start;
					gap: 30px;
		
					height: 100%;
					// @include mobile {
					// 	transform: none !important;
					// }

					position:relative;
					&:after {
						content:"";
						position: absolute;
						top:42px;
						right:0;
						bottom:20px;
						height: 50%;

						border-right: 4px solid #6f627e;
						// transform: translateY(40px);
					}


					.textHeader {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						padding-bottom: 8px;
						// .square {
						// 	border: 1px solid white;
						// 	padding: 0.6em 1em;
						// 	// padding: 21px 11px;
						// 	font-size: 24px;
						// 	color: #8089e6;
						// 	font-weight: 600;
						// }
						border-bottom: 4px solid #6f627e;
						border-width: 120%;
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;
						h4 {
							font-size: 26px;
							letter-spacing: 2px;
							padding-left: 2px;
							text-transform: uppercase;
						}
					}

					p {
						color: #e0dfdb;
						font-size: 20px;
						line-height: normal;
						padding: 15px;
					}
					button {
						background-color: #c9ab91;
						border: none;
						margin-top: auto; // margin-bottom:40px;
						align-self: flex-start;
						border-radius: 10px;
						padding: 1em 1.2em;
						font-size: 18px;
						cursor: pointer;
					}
				}
			}
		}
	}
}
