@import "../../app.scss";

.navbar {
	height: 100px;
	.wrapper {
		max-width: 1366px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 20px;

		.left {
			display: flex;
			gap: 20px;
			justify-content: flex-start;
			@include desktop {
				flex: 1;
				margin-right: 20px;
			}
			@include tv {
				flex: 1;
			}

			.empty {
				width: calc(50px + 20px);
				@include tv {
				}
				@media (min-width: 1482px) {
					display: none;
				}
			}

			span {
				font-weight: bold;
				@include mobile {
					display: none;
				}
			}
		}
		.social {
			display: flex;
			gap: 20px;
			justify-content: flex-end;
			justify-self: flex-end;
			// background-color: red;
		svg:hover{
			color:#6F627E;
		}
		}
	}
}
