@import "../../app.scss";

.navbar {
	height: 100px;
	.wrapper {
		max-width: 1366px;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 20px;

		.left {
			display: flex;
			gap: 20px;
			justify-content: flex-start;
			@include desktop {
				justify-content: flex-end;
				flex: 1;
				margin-right: 20px;
			}
			@include tv {
			display: none;
				flex: 1;
			}
			.empty {
				width: calc(50px + 20px);
				@include tv {
					display: none;
				}
			}

			span {
				font-weight: bold;
				@include mobile {
				}
			}
		}
		.social {
			display: flex;
			gap: 20px;
			@include tv {
				position: fixed;
				right: 20px;
				top: 40px;
			}
		}
	}
}
