


html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  // border:0.5px solid white

}
body {
  background-color: #0c0c1d;
  color: lightgray;
}
a {
  text-decoration: none;
  color:inherit
}
section {

  scroll-snap-align: center;
}

section:not(#Experience) {
  height: 100vh;
}
section#Footer{
  height: 70vh;
}
// #Projects section {
//   height: 80vh;
//   scroll-snap-align: center;
// }
#About {
  background: linear-gradient(180deg, #111132, #0c0c1d);
}

#Projects {

  background: linear-gradient(180deg, #0c0c1d, #111132);
}
#Experience {
  background: linear-gradient(180deg, #111132, #0c0c1d);
}
#Contact {
  background: linear-gradient(180deg, #0c0c1d, #111132);
}
#Footer {
  background: linear-gradient(180deg, #111132, #0c0c1d);
}

@mixin mobile {
  @media (max-width: 738px){
    @content;
  }
}
@mixin tablet {
  @media (min-width: 738px ) and (max-width: 1024px){
    @content;
  }
}
//1024px
@mixin desktop {
  @media (min-width: 1024px) and (max-width: 1366px){
    @content;
  }
}
@mixin tv {
  @media (min-width: 1366px){
    @content;
  }
}

// background-color: #bd8289;
// border-radius: 5px;

@mixin button-style($background-color, $text-color, $hover-color, $border-color) {
  display: inline-block;
  padding: 1.2em 0.8em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $background-color;
  color: $text-color;
  transition: background-color 0.3s ease;


  @include mobile {
    font-size: 14px;
  }
  &:hover {
    background-color: $hover-color;  
  }
}